<div class="login-container">
    <form>
        <div>
            <input type="email"  
                data-ng-model="vm.user.username"
                placeholder="Username">
        </div>
        <div>
            <input type="password" 
                data-ng-model="vm.user.password"
                placeholder="Password">
        </div>
        <div class="error">
            {{vm.getErrorMessage()}}
        </div>
        <div>
            <input type="submit" data-ng-click="vm.authenticate()" value="Login" />
        </div>
    </form>
</div>