<div class="header-container">
    <div class="header">
        <div class="container">
            <a href="#/">MovieBase</a>
            <div class="search"
                 data-ng-class="{'active': vm.searchIsOpen}"
                 data-ng-show="vm.searchIsVisible()">
                <i class="material-icons"
                   data-ng-click="vm.toggleSearch();">
                   search
                </i>
                <form>
                    <input type="text"
                           data-ng-model="vm.searchTerm"
                           data-ng-blur="vm.toggleSearch()">
                    <input type="submit"
                           data-ng-click="vm.search()">
                </form>
            </div>
        </div>
    </div>
    <div class="mobile-search"
         data-ng-show="vm.searchIsVisible()">
        <i class="material-icons">search</i>
        <form>
            <input type="text"
                   placeholder="Search"
                   data-ng-model="vm.searchTerm">
            <input type="submit"
                   data-ng-click="vm.search()">
        </form>
    </div>
</div>